# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.venv/
venv/
env/
.env
.env.*

# IDE
.idea/
.vscode/
*.code-workspace

# Test & reports
reports/
.logs/
logs/
.pytest_cache/
junit*.xml
coverage.xml
htmlcov/
.coverage*

# OS
Thumbs.db
.DS_Store


